global
    log stdout format raw local0 debug
    maxconn 4096
    stats socket ipv4@127.0.0.1:9999  level admin  expose-fd listeners

defaults
    log     global
    mode    tcp
    option  tcplog
    option  tcpka
    timeout connect 5s
    timeout client  0
    timeout server  0

frontend stats
    mode http
    bind *:8084
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if LOCALHOST
